In [ ]:
%%bash

# save feat extracts, for the sampling mode indicated in the I3D file, the feature with 3 diffferent num frames per clip (5, 10, 25)

python save_feat.py name=saved_features \
  config=configs/I3D_save_feat.yaml

In [ ]:
%%bash


python save_feat_action_net.py name=features_action_net \
  config=configs/I3D_save_feat.yaml \
  dataset.shift=S04-S04 \
  dataset.RGB.data_path=action-net-frames \
  dataset.annotations_path=action_net_annotations

In [7]:
import pandas as pd

df = pd.read_pickle('action_net_annotations/S04_train.pkl')

df

,uid,participant_id,video_id,narration,start_timestamp,stop_timestamp,start_frame,stop_frame,verb,verb_class,type
0,0,S04,S04_01,Get/replace items from refrigerator/cabinets/d...,860.227273,865.181818,18925,19034,Get/replace items from refrigerator/cabinets/d...,0,train
1,1,S04,S04_01,Get/replace items from refrigerator/cabinets/d...,865.227273,870.181818,19035,19144,Get/replace items from refrigerator/cabinets/d...,0,train
2,2,S04,S04_01,Get/replace items from refrigerator/cabinets/d...,870.227273,875.181818,19145,19254,Get/replace items from refrigerator/cabinets/d...,0,train
3,3,S04,S04_01,Get/replace items from refrigerator/cabinets/d...,875.227273,880.181818,19255,19364,Get/replace items from refrigerator/cabinets/d...,0,train
4,4,S04,S04_01,Get/replace items from refrigerator/cabinets/d...,880.227273,885.181818,19365,19474,Get/replace items from refrigerator/cabinets/d...,0,train
...,...,...,...,...,...,...,...,...,...,...,...
2090,2090,S04,S04_05,"Unload dishwasher: 3 each large/small plates, ...",3361.772727,3366.727273,73959,74068,"Unload dishwasher: 3 each large/small plates, ...",19,train
2091,2091,S04,S04_05,"Unload dishwasher: 3 each large/small plates, ...",3366.772727,3371.727273,74069,74178,"Unload dishwasher: 3 each large/small plates, ...",19,train
2092,2092,S04,S04_05,"Unload dishwasher: 3 each large/small plates, ...",3371.772727,3376.727273,74179,74288,"Unload dishwasher: 3 each large/small plates, ...",19,train
2093,2093,S04,S04_05,"Unload dishwasher: 3 each large/small plates, ...",3376.772727,3381.727273,74289,74398,"Unload dishwasher: 3 each large/small plates, ...",19,train
2094,2094,S04,S04_05,"Unload dishwasher: 3 each large/small plates, ...",3381.772727,3385.681818,74399,74485,"Unload dishwasher: 3 each large/small plates, ...",19,train